.button_wifi{
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    height: 140px;
    width: 140px;
    border-radius: 60%;
    background-color: #ffffff;
}

.icon{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 80px;
    margin: auto;
    
}

.desc_wifi{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: #f4f5f8;
}


.inputFields{
    margin-left: 20%;
    margin-right: 20%;

}

.button_set {

    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    display: block;
    border-radius: 50%;
    text-align: center;
    background-color: #383a3e;
  
  }
  

.close{
    position: absolute;
    left:80%;
    
    }
    
    .title{
      display: flex;
      text-align: center;
      padding: 5%;
    }
    .titleDiv{
      position: relative;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

.modal-bg{
    --ion-background-color: #383a3e !important;
}